{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hello, I am Diksha Wali, 21 passout. I am interested in web development. I have been working as a spark developer
                            but want to switch my career to web development. Since spark requires python, I have a good knowledge in python.
                            I thought of starting my web development career in python itself. Hence I am on the way of learning various python
                            frameworks. Flask looked easiest one hence I started with this one. I will then focus on django, and later in javascript
                            and its framework. I hope you will be there with me in this journey. Let's go!!!</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}