{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Tell your story</h1>
                            <span class="subheading">A blog where you can write down your story.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->

                {%for post_items in range(params['no_of_pages'])%}    
                    <div class="post-preview">
                        <a href="post/{{post_items.slug}}">
                            <h2 class="post-title">{{all_post_var[post_items].title}}</h2>
                            <p>{{all_post_var[post_items].content[:100]}}</p>
                        </a>
                        <p class="post-meta">
                           
                            <a href="#!"> Posted by {{all_post_var[post_items].author}}</a>
                            on {{all_post_var[post_items].date}}
                        
                    {%endfor%}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/{{pagestart+1}}">Next Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
{% endblock %}